@import "tailwindcss";

:root {
  --primary: #f9f5ea;
  --secondary: #ecdfdb;
  --accent: #cead95;
  --foreground: #1c1917;
}

@theme inline {
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-accent: var(--accent);
  --color-foreground: var(--foreground);

  --font-brand: var(--font-bodoni);
  --font-heading: var(--font-lora);
  --font-body: var(--font-dm-sans);
}